[Unit]
Description=PBDs belonging to SRs flagged as HCI
Before=xapi-domains.service attach-static-vdis.service
After=xapi.service remote-fs.target

[Service]
RemainAfterExit=true
Type=oneshot
ExecStart=/usr/bin/true
ExecStop=/usr/bin/hci-unplug-pbds

[Install]
WantedBy=multi-user.target
